@use '@client/styles/style-costants' as *;

* {
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    overflow-x: hidden;
}

// layout
@include mobile {
    .page-outer-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 $page-margin-mobile;
    }

    .section-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
        max-width: 500px;
    }

    .faqs-layout,
    .infos-layout {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
        max-width: 500px;
    }
}

@include desktop {
    .page-outer-layout {
        margin: 0 var(--page-margin);
    }

    .page-inner-layout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin: 0 auto;
        max-width: 1200px;
        min-height: 100svh;
    }

    .section-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 100px;
        padding: 20px 0;
    }

    .faqs-layout {
        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-template-areas: 'faq-title-container faq-items-layout';
        gap: 100px;
    }

    .infos-layout {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

// appearance
.section-layout {
    > .image-layout {
        display: flex;
        justify-content: center;

        > img {
            box-shadow: $image-box-shadow;
            border-radius: $border-radius-media;
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 500px;
            height: auto;
        }
    }

    > .text-layout {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > .title-layout {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > .subtitle {
                font-size: var(--font-size-lg);
            }

            > .title {
                font-weight: $font-weight-black;
                font-size: var(--font-size-xxl);
                line-height: 1;
                font-family: $font-family;
            }
        }

        > .description-layout {
            font-size: var(--font-size-md);
            text-align: justify;

            > span {
                color: $color-black;
            }
        }

        > .cta-layout {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            > .cta-main-button {
                display: flex;
                justify-content: center;
                align-items: center;
                animation:
                    pulse-color 4s ease-in-out infinite,
                    click-pattern 8s ease-in-out infinite;
                animation-delay: 0s, 5s;
                transition:
                    transform 0.1s ease,
                    box-shadow 0.1s ease;
                cursor: pointer;
                margin-bottom: 10px;
                box-shadow: 0 8px $color-orange-darkest;
                border-radius: $border-radius-components;
                background-color: $color-orange;
                padding: 10px 0;
                width: 100%;

                > a {
                    color: $color-white;
                    font-weight: $font-weight-black;
                    font-size: var(--font-size-lg);
                    font-family: $font-family;
                    text-decoration: none;
                    text-wrap: balance;
                }

                &:active {
                    transform: translateY(5px);
                    animation: none;
                    animation-play-state: paused;
                    transition:
                        transform 0.1s ease,
                        box-shadow 0.1s ease;
                    box-shadow: 0 3px $color-orange-darkest;
                }

                @keyframes pulse-color {
                    0%,
                    100% {
                        background-color: $color-orange;
                    }

                    50% {
                        background-color: $color-orange-dark;
                    }
                }

                @keyframes click-pattern {
                    /* Pausa iniziale: 0-2s */
                    0%,
                    25% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-orange-darkest;
                    }

                    /* Primo click: 2-2.1s */
                    26%,
                    27% {
                        transform: translateY(2px);
                        box-shadow: 0 6px $color-orange-darkest;
                    }

                    /* Pausa breve: 2.1-2.3s */
                    28%,
                    29% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-orange-darkest;
                    }

                    /* Secondo click: 2.3-2.4s */
                    30%,
                    31% {
                        transform: translateY(2px);
                        box-shadow: 0 6px $color-orange-darkest;
                    }

                    /* Pausa media: 2.4-4.8s */
                    32%,
                    60% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-orange-darkest;
                    }

                    /* Singolo click: 4.8-4.9s */
                    61%,
                    62% {
                        transform: translateY(2px);
                        box-shadow: 0 6px $color-orange-darkest;
                    }

                    /* Pausa finale: 4.9-8s */
                    63%,
                    100% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-orange-darkest;
                    }
                }
            }

            > .cta-secondary-button {
                font-size: var(--font-size-sm);
            }
        }
    }
}

.divider {
    background-color: $color-black;
    width: 100%;
    height: 1px;
}

.faqs-layout {
    .faq-title-container {
        display: flex;
        grid-area: faq-title-container;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
    }

    .faq-items-layout {
        display: flex;
        grid-area: faq-items-layout;
        flex-direction: column;
        gap: 10px;
    }

    details > summary {
        list-style-type: '▸ ';
    }

    details[open] > summary {
        list-style-type: '▾ ';
    }

    .faq-answer {
        text-align: justify;
    }
}

.faq-title {
    font-weight: $font-weight-extra-bold;
    font-size: var(--font-size-xl);
}

.faq-description {
    font-size: var(--font-size-sm);
}

.faq-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-question {
    cursor: pointer;
    font-weight: $font-weight-extra-bold;
    font-size: var(--font-size-md);
}

.info-item {
    display: flex;
    flex-basis: 100%;
    gap: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid $color-black;
    border-radius: $border-radius-components;
    padding: 20px;
    text-align: justify;
}

.info-icon {
    width: 100px;
    object-fit: contain;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-title {
    font-weight: $font-weight-extra-bold;
    font-size: var(--font-size-md);
}

.info-description {
    font-size: var(--font-size-sm);
}

.bold {
    font-weight: $font-weight-bold;
}

.footer-layout {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $color-black;
    padding: 20px 0;

    color: $color-white;

    @include mobile {
        flex-direction: column;
        margin-right: -$page-margin-mobile;
        margin-left: -$page-margin-mobile;
        width: calc(100% + #{$page-margin-mobile * 2});
    }

    @include desktop {
        flex-direction: row;
        align-self: center;
        margin-right: -$page-margin-desktop;
        margin-left: -$page-margin-desktop;
        width: 100svw;
    }

    .links-layout {
        display: flex;
        gap: 20px;

        > span.link > a {
            cursor: pointer;
            color: $color-white;
            text-decoration: underline;
        }
    }

    span {
        color: $color-white;
    }
}
