:root {
    font-size: 10px;
}

.hide-mobile {
    display: none;
}

.margin-mobile {
    margin: 0 5svw;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#feature-elements > img {
    height: 300px;
}
