@use '@client/components/styles_common/media' as *;
@use '@client/components/styles_common/bebas_neue_pro_font' as *;

$font-size-xxl: 40px;
$font-size-xl: 32px;
$font-size-lg: 24px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 14px;

$font-weight-light: 200;
$font-weight-middle: 400;

$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-black: hsl(0, 0%, 10%);
$color-white: hsl(0, 0%, 95%);
$color-red: hsl(5, 70%, 50%);
$color-red-dark: hsl(5, 70%, 45%);
$color-red-darker: hsl(5, 70%, 40%);
$color-red-darkest: hsl(5, 70%, 35%);
$color-green: hsl(140, 80%, 40%);
$color-green-dark: hsl(140, 80%, 35%);
$color-green-darker: hsl(140, 80%, 30%);
$color-green-darkest: hsl(140, 80%, 25%);

$border-radius: 5px;

$mobile-body-margin: 4svw;
$section-gap: 25px;

$desktop-body-margin: 10svw;

$font-family-bebas-neue-pro: 'Bebas Neue Pro', 'Bebas Neue Pro Fallback', 'Impact', sans-serif;
$font-family-bebas-neue-pro-semi-expanded:
    'Bebas Neue Pro SemiExpanded', 'Bebas Neue Pro SemiExpanded Fallback', 'Impact', sans-serif;

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-weight: $font-weight-light;

    font-family: $font-family-bebas-neue-pro-semi-expanded;
}

*:not(input):not(textarea):not(select) {
    text-box: trim-both cap alphabetic;
}

body {
    background-color: $color-white;
}

@include mobile {
    body {
        display: flex;
        justify-content: center;
    }

    #page-container {
        display: flex;
        flex-direction: column;
        margin: 0 $mobile-body-margin;
        max-width: 600px;
    }

    #hero {
        display: flex;
        flex-direction: column;
        margin-bottom: $mobile-body-margin;
        line-height: 0.75;

        > img {
            align-self: center;
            margin-right: -$mobile-body-margin;
            margin-left: -$mobile-body-margin;
            aspect-ratio: 1/1;
            width: calc(100% + #{$mobile-body-margin * 2});
            max-width: 600px;
            height: auto;
            object-fit: cover;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > h2 {
                display: flex;
                align-items: center;
                gap: 5px;

                color: $color-black;
                font-weight: $font-weight-light;
                font-size: $font-size-lg;

                > span {
                    display: inline-block;
                    border-radius: 5px;
                    background-color: $color-red;
                    width: 20px;
                    height: 5px;
                }
            }

            > h1 {
                display: flex;
                align-items: center;
                gap: 5px;
                height: fit-content;
                font-weight: $font-weight-bold;
                font-size: $font-size-xxl;
                font-family: $font-family-bebas-neue-pro;

                > span {
                    border-radius: 5px;
                    background-color: $color-black;
                    padding: 5px;
                    color: $color-white;
                    font-weight: $font-weight-bold;
                    font-family: $font-family-bebas-neue-pro;
                }
            }

            > p {
                display: flex;
                align-items: center;

                gap: 5px;
                height: fit-content;
                font-weight: $font-weight-middle;
                font-size: $font-size-xxl;

                > span {
                    border-radius: 5px;
                    background-color: $color-red;
                    padding: 5px;
                    color: $color-white;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .cta {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-right: -$mobile-body-margin;
        margin-left: -$mobile-body-margin;
        background-image: url('@public/imgs/lulu_pattern.webp');
        background-position: 25px 25px;
        background-size: 66%;
        background-color: $color-black;
        padding: $mobile-body-margin;

        color: $color-white;

        > h1 {
            font-size: $font-size-xxl;
            font-family: $font-family-bebas-neue-pro;
        }

        > p {
            font-weight: $font-weight-middle;
            font-size: $font-size-lg;
        }

        > form {
            display: flex;
            flex-direction: column;
            gap: 12px;

            > input[type='email'] {
                border-radius: $border-radius;
                background-color: $color-white;
                padding: 0 10px;
                height: 35px;
                color: $color-black;
                font-weight: $font-weight-middle;
                font-size: $font-size-sm;
            }

            > .checkbox-container {
                display: flex;
                align-items: center;
                gap: 5px;
                font-weight: $font-weight-light;
                font-size: $font-size-xs;

                > input[type='checkbox'] {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                }

                > label {
                    cursor: pointer;
                }
            }

            > button[type='submit'] {
                align-self: center;
                animation:
                    pulse-color 4s ease-in-out infinite,
                    click-pattern 8s ease-in-out infinite;
                animation-delay: 0s, 5s;
                transition:
                    transform 0.1s ease,
                    box-shadow 0.1s ease;
                cursor: pointer;
                margin-bottom: 5px;
                box-shadow: 0 8px $color-green-darkest;
                border-radius: $border-radius;
                background-color: $color-green;
                padding: 10px 0;
                width: 80%;
                color: $color-white;
                font-weight: $font-weight-extra-bold;
                font-size: $font-size-lg;
                font-family: $font-family-bebas-neue-pro-semi-expanded;

                &:active {
                    transform: translateY(5px);
                    animation: none;
                    animation-play-state: paused;
                    transition:
                        transform 0.1s ease,
                        box-shadow 0.1s ease;
                    box-shadow: 0 3px $color-green-darkest;
                }

                @keyframes pulse-color {
                    0%,
                    100% {
                        background-color: $color-green;
                    }
                    50% {
                        background-color: $color-green-dark;
                    }
                }

                @keyframes click-pattern {
                    /* Pausa iniziale: 0-2s */
                    0%,
                    25% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-green-darkest;
                    }

                    /* Primo click: 2-2.1s */
                    26%,
                    27% {
                        transform: translateY(2px);
                        box-shadow: 0 6px $color-green-darkest;
                    }

                    /* Pausa breve: 2.1-2.3s */
                    28%,
                    29% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-green-darkest;
                    }

                    /* Secondo click: 2.3-2.4s */
                    30%,
                    31% {
                        transform: translateY(2px);
                        box-shadow: 0 6px $color-green-darkest;
                    }

                    /* Pausa media: 2.4-4.8s */
                    32%,
                    60% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-green-darkest;
                    }

                    /* Singolo click: 4.8-4.9s */
                    61%,
                    62% {
                        transform: translateY(2px);
                        box-shadow: 0 6px $color-green-darkest;
                    }

                    /* Pausa finale: 4.9-8s */
                    63%,
                    100% {
                        transform: translateY(0);
                        box-shadow: 0 8px $color-green-darkest;
                    }
                }
            }
        }

        > .members-counter {
            align-self: center;
            font-weight: $font-weight-light;
            font-size: $font-size-sm;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        gap: $section-gap;
        margin: $mobile-body-margin 0;
    }

    #dragons-image {
        display: block;
        border-radius: $border-radius;
        aspect-ratio: 16/9;
        width: 100%;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: $section-gap;
        text-align: justify;

        > .title-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > h2 {
                font-weight: $font-weight-light;
                font-size: $font-size-lg;
            }

            > h1 {
                font-weight: $font-weight-bold;
                font-size: $font-size-xxl;
                font-family: $font-family-bebas-neue-pro;
            }
        }

        > p {
            font-weight: $font-weight-middle;
            font-size: $font-size-md;
        }

        span.extra-bold {
            font-weight: $font-weight-extra-bold;
        }

        > img {
            border-radius: $border-radius;
            aspect-ratio: 1/1;
            width: 100%;
        }

        .bullet-point-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-left: 10px;
            font-weight: $font-weight-middle;
            font-size: $font-size-md;

            .bullet-point-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .bullet-point-img {
            background-color: #e8e8e8;
            width: 20px;
            object-fit: contain;
        }
    }
}

@include desktop {
    body {
        display: flex;
        justify-content: center;
    }

    #page-container {
        display: flex;
        flex-direction: column;
        margin: 0 $desktop-body-margin;
        width: 100%;
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'image text';
        align-self: center;
        margin-bottom: -50px;
        max-width: 1300px;

        line-height: 0.75;

        > img {
            grid-area: image;
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 600px;
        }

        .text-container {
            display: flex;
            grid-area: text;
            flex-direction: column;
            place-self: center;
            gap: 10px;

            > h2 {
                display: flex;
                align-items: center;
                gap: 5px;

                color: $color-black;
                font-weight: $font-weight-light;
                font-size: $font-size-lg;

                > span {
                    display: inline-block;
                    border-radius: 5px;
                    background-color: $color-red;
                    width: 20px;
                    height: 5px;
                }
            }

            > h1 {
                display: flex;
                align-items: center;
                gap: 5px;
                height: fit-content;
                font-weight: $font-weight-bold;
                font-size: $font-size-xxl;
                font-family: $font-family-bebas-neue-pro;

                > span {
                    border-radius: 5px;
                    background-color: $color-black;
                    padding: 5px;
                    color: $color-white;
                    font-weight: $font-weight-bold;
                    font-family: $font-family-bebas-neue-pro;
                }
            }

            > p {
                display: flex;
                align-items: center;

                gap: 5px;
                height: fit-content;
                font-weight: $font-weight-middle;
                font-size: $font-size-xxl;

                > span {
                    border-radius: 5px;
                    background-color: $color-red;
                    padding: 5px;
                    color: $color-white;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .cta {
        display: grid;
        grid-template-columns: auto minmax(300px, 600px) 4vw minmax(300px, 600px) auto;
        grid-template-areas:
            '. title . form .'
            '. subtitle . form .'
            '. members . form .';
        gap: 10px 0;

        margin-right: -$desktop-body-margin;
        margin-left: -$desktop-body-margin;
        background-image: url('@public/imgs/lulu_pattern.webp');
        background-position: 25px 35px;
        background-size: 10%;
        background-color: $color-black;
        padding: 20px $desktop-body-margin;
        color: $color-white;
        // box-sizing: border-box;

        h1 {
            grid-area: title;
            place-self: end center;
            font-size: $font-size-xxl;
            font-family: $font-family-bebas-neue-pro;
        }

        p {
            grid-area: subtitle;
            place-self: center;
            font-weight: $font-weight-middle;
            font-size: $font-size-lg;
        }

        form {
            display: flex;
            grid-area: form;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            width: 80%;

            input[type='email'] {
                border-radius: $border-radius;
                background-color: $color-white;
                padding: 0 10px;
                height: 35px;
                color: $color-black;
                font-weight: $font-weight-middle;
                font-size: $font-size-xs;
            }
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: $font-weight-light;
            font-size: $font-size-xs;

            > input[type='checkbox'] {
                cursor: pointer;
                width: 15px;
                height: 15px;
            }

            > label {
                cursor: pointer;
            }
        }

        button[type='submit'] {
            align-self: center;
            animation:
                pulse-color 4s ease-in-out infinite,
                click-pattern 8s ease-in-out infinite;
            animation-delay: 0s, 5s;
            transition:
                transform 0.1s ease,
                box-shadow 0.1s ease;
            cursor: pointer;
            box-shadow: 0 5px $color-green-darkest;
            border: none;
            border-radius: $border-radius;
            background-color: $color-green;
            width: 100%;
            height: 35px;
            color: $color-white;
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
            font-family: $font-family-bebas-neue-pro;

            &:active {
                transform: translateY(3px);
                animation: none;
                animation-play-state: paused;
                transition:
                    transform 0.1s ease,
                    box-shadow 0.1s ease;
                box-shadow: 0 2px $color-green-darkest;
            }

            @keyframes pulse-color {
                0%,
                100% {
                    background-color: $color-green;
                }
                50% {
                    background-color: $color-green-dark;
                }
            }

            @keyframes click-pattern {
                /* Pausa iniziale: 0-2s */
                0%,
                25% {
                    transform: translateY(0);
                    box-shadow: 0 5px $color-green-darkest;
                }

                /* Primo click: 2-2.1s */
                26%,
                27% {
                    transform: translateY(1.5px);
                    box-shadow: 0 3.5px $color-green-darkest;
                }

                /* Pausa breve: 2.1-2.3s */
                28%,
                29% {
                    transform: translateY(0);
                    box-shadow: 0 5px $color-green-darkest;
                }

                /* Secondo click: 2.3-2.4s */
                30%,
                31% {
                    transform: translateY(1.5px);
                    box-shadow: 0 3.5px $color-green-darkest;
                }

                /* Pausa media: 2.4-4.8s */
                32%,
                60% {
                    transform: translateY(0);
                    box-shadow: 0 5px $color-green-darkest;
                }

                /* Singolo click: 4.8-4.9s */
                61%,
                62% {
                    transform: translateY(1.5px);
                    box-shadow: 0 3.5px $color-green-darkest;
                }

                /* Pausa finale: 4.9-8s */
                63%,
                100% {
                    transform: translateY(0);
                    box-shadow: 0 5px $color-green-darkest;
                }
            }
        }

        .members-counter {
            grid-area: members;
            place-self: start center;
            font-weight: $font-weight-light;
            font-size: $font-size-sm;
        }
    }

    #dragons-image {
        display: none;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 20px;
        margin: 20px 0;

        max-width: 1300px;
    }

    .section {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 15px 0;

        > .title-container {
            display: flex;
            grid-area: text-container;
            flex-direction: column;
            place-self: end start;
            gap: 10px;

            > h2 {
                font-weight: $font-weight-light;
                font-size: $font-size-lg;
            }

            > h1 {
                font-weight: $font-weight-bold;
                font-size: $font-size-xxl;
                line-height: 1;
                font-family: $font-family-bebas-neue-pro;
            }
        }

        > p {
            grid-area: text-p;
            font-weight: $font-weight-middle;
            font-size: $font-size-md;
            text-align: justify;
        }

        span.extra-bold {
            font-weight: $font-weight-extra-bold;
        }

        > img {
            grid-area: image;
            place-self: center;
            border-radius: $border-radius;
            aspect-ratio: 1/1;
            width: 90%;
            max-width: 500px;
        }

        .bullet-point-container {
            display: flex;
            grid-area: bullet-point-container;
            flex-direction: column;
            gap: 5px;
            padding-left: 10px;
            font-weight: $font-weight-middle;
            font-size: $font-size-md;

            .bullet-point-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .bullet-point-img {
            background-color: #e8e8e8;
            width: 20px;
            object-fit: contain;
        }
    }

    .section-1 {
        grid-template-areas:
            'image text-container'
            'image text-p';
    }

    .section-2 {
        grid-template-areas:
            'text-container image'
            'text-p image';
    }

    .section-3 {
        grid-template-rows: 1fr max-content 1fr;
        grid-template-areas:
            'image text-container'
            'image text-p'
            'image bullet-point-container';
    }

    .section-4 {
        grid-template-areas:
            'text-container image'
            'text-p image';
    }
}

.footer-layout {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -1px;
    background-color: $color-black;
    padding: 20px 0;

    color: $color-white;

    @include mobile {
        flex-direction: column;
        margin-right: -$mobile-body-margin;
        margin-left: -$mobile-body-margin;
        width: calc(100% + #{$mobile-body-margin * 2});
    }

    @include desktop {
        flex-direction: row;
        margin-right: -$desktop-body-margin;
        margin-left: -$desktop-body-margin;
        width: calc(100% + #{$desktop-body-margin * 2});
    }

    .links-layout {
        display: flex;
        gap: 20px;

        > span.link > a {
            cursor: pointer;
            color: $color-white;
            text-decoration: underline;
        }
    }

    span {
        color: $color-white;
    }
}

.section {
    img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}
