@use '@client/styles/style-costants' as *;
@use './landingpage.display.scss';

#page-container {
    background-color: $color-white;

    // @include mobile {
    //     max-width: 600px;
    // }
}

// A/B Test: Show control by default, hide variant
#hero {
    > .control {
        display: grid;
    }

    > .variant {
        display: none;
    }
}

// Hide control and show variant when html has ab-variant class
html.ab-variant #hero {
    > .control {
        display: none;
    }

    > .variant {
        display: grid;
    }
}

.no-wrap {
    white-space: nowrap;
}

.tw-wrap {
    text-wrap: wrap;
}

#hero {
    // background-color: $color-black;
    padding-top: $gap-grid * 1.5;

    @include mobile {
        margin-bottom: -$gap-grid;
        background-image:
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 1) 15%,
                rgba(255, 255, 255, 0) 100%
            ),
            url('@public/imgs/lulu_pattern.webp'), url('@public/imgs/lulu_pattern.webp');
        background-position:
            center center,
            center center,
            center center;
        background-size:
            100% 100%,
            66%,
            66%;
        background-repeat: no-repeat, repeat, repeat;
        padding-bottom: $gap-grid;
    }

    @include desktop {
        padding-top: $gap-grid * 2.5;
        padding-bottom: $gap-grid * 1.5;
    }

    > .control {
        > .title {
            // color: $color-white;
            font-weight: $font-weight-black;
            font-size: var(--font-size-xxl);
            // text-align: center;

            @include desktop {
                text-wrap: pretty;
            }
        }

        > .description {
            font-weight: normal;
            font-size: var(--font-size-md);
            // text-align: justify;
            text-wrap: pretty;
        }

        > .image {
            display: block;

            @include mobile {
                grid-column: full-width;
                margin: $gap-grid 0;
            }
        }
    }

    > .variant {
        .image {
            margin-top: -25px;

            @include desktop {
                margin: -50px 0 -75px;
            }
        }

        > .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            > h2 {
                display: flex;
                align-items: center;
                gap: 5px;

                color: $color-black;
                font-weight: $font-weight-light;
                font-size: var(--font-size-sm);

                > span {
                    display: inline-block;
                    border-radius: 5px;
                    background-color: $color-red;
                    width: 20px;
                    height: 5px;
                }
            }

            > h1 {
                display: flex;
                align-items: center;
                gap: 5px;
                height: fit-content;
                font-weight: $font-weight-bold;
                font-size: var(--font-size-lg);

                @include desktop {
                    font-size: var(--font-size-xxl);
                }

                > span {
                    border-radius: 5px;
                    background-color: $color-black;
                    padding: 5px;
                    color: $color-white;
                    font-weight: $font-weight-bold;
                }
            }

            > p {
                display: flex;
                align-items: center;

                gap: 5px;
                height: fit-content;
                font-weight: $font-weight-middle;
                font-size: var(--font-size-lg);

                @include desktop {
                    font-size: var(--font-size-xl);
                }

                > span {
                    border-radius: 5px;
                    background-color: $color-red;
                    padding: 5px;
                    color: $color-white;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

.horizontal-divider {
    margin: $gap-grid 0;

    > div {
        height: 1px;
    }

    &.on-light {
        background-color: $color-white;

        > div {
            background-color: $color-black;
        }
    }

    &.on-dark {
        background-color: $color-black;

        > div {
            background-color: $color-white;
        }
    }
}

.cta {
    row-gap: calc($gap-grid / 2);
    margin: $gap-grid 0;
    background-image: url('@public/imgs/lulu_pattern.webp');
    background-position: center center;
    background-color: $color-black;
    padding: $gap-grid * 2 0;

    @include mobile {
        background-size: 66%;
    }

    @include desktop {
        background-size: 25%;
    }

    > h3 {
        color: $color-white;
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
        font-family: $font-family;

        @include mobile {
            margin-bottom: calc($gap-grid / 3);
            text-align: center;
        }
    }

    > p {
        color: $color-white;
        font-size: var(--font-size-md);
        // text-align: justify;
    }

    > p > span.exclusive-offer {
        color: $color-green-dark;
        font-weight: $font-weight-bold;
    }

    form {
        @include mobile {
            margin-top: calc($gap-grid / 2);
        }

        > input {
            border-radius: $border-radius-components;
            background-color: $color-white;
            padding: 0 10px;
            height: 45px;
            color: $color-black;
            font-weight: $font-weight-middle;
            font-size: var(--font-size-md);
            @include desktop {
                font-size: var(--font-size-sm);
            }
        }

        > .checkbox-container {
            display: flex;
            align-items: center;
            gap: 5px;

            font-weight: $font-weight-light;
            font-size: var(--font-size-sm);

            @include desktop {
                font-size: var(--font-size-xxs);
            }

            > input[type='checkbox'] {
                cursor: pointer;
                width: 15px;
                height: 15px;
            }

            > span {
                cursor: pointer;
                color: $color-white;
            }
        }

        > button[type='submit'] {
            align-self: center;
            animation:
                pulse-color 4s ease-in-out infinite,
                click-pattern 8s ease-in-out infinite;
            animation-delay: 0s, 5s;
            transition:
                transform 0.1s ease,
                box-shadow 0.1s ease;
            cursor: pointer;
            margin-bottom: 5px;
            box-shadow: 0 8px $color-green-darkest;
            border-radius: $border-radius-components;
            background-color: $color-green-dark;
            padding: 10px;
            width: 100%;
            color: $color-white;
            font-weight: $font-weight-black;
            font-size: var(--font-size-lg);
            font-family: $font-family;
            text-wrap: balance;

            &:active {
                transform: translateY(5px);
                animation: none;
                animation-play-state: paused;
                transition:
                    transform 0.1s ease,
                    box-shadow 0.1s ease;
                box-shadow: 0 3px $color-green-darkest;
            }

            @keyframes pulse-color {
                0%,
                100% {
                    background-color: $color-green-dark;
                }

                50% {
                    background-color: $color-green;
                }
            }

            @keyframes click-pattern {
                /* Pausa iniziale: 0-2s */
                0%,
                25% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }

                /* Primo click: 2-2.1s */
                26%,
                27% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-green-darkest;
                }

                /* Pausa breve: 2.1-2.3s */
                28%,
                29% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }

                /* Secondo click: 2.3-2.4s */
                30%,
                31% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-green-darkest;
                }

                /* Pausa media: 2.4-4.8s */
                32%,
                60% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }

                /* Singolo click: 4.8-4.9s */
                61%,
                62% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-green-darkest;
                }

                /* Pausa finale: 4.9-8s */
                63%,
                100% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }
            }
        }
    }
}

#dragons-image {
    margin-top: $gap-grid;
    margin-bottom: $gap-grid;
    box-shadow: $image-box-shadow;
    border-radius: $border-radius-media;
}

.section {
    row-gap: $gap-grid;
    padding: $gap-grid 0;

    > .title {
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
    }

    > .description {
        font-size: var(--font-size-md);
        // text-align: justify;
    }

    > .image {
        box-shadow: $image-box-shadow;
        border-radius: $border-radius-media;
        max-width: 500px;
    }
}

p.quote {
    font-style: italic;
    font-size: var(--font-size-md);
    text-align: center;

    @include desktop {
        margin: $gap-grid 0;
    }

    @include mobile {
        margin-top: $gap-grid * 0.8;
        margin-bottom: calc($gap-grid * 0.8 - $gap-grid * 1.2);
    }
}

p.quote.custom-quote {
    @include mobile {
        margin-top: $gap-grid * 0.3;
        margin-bottom: $gap-grid * 0.3;
    }
}

#how-to-play {
    > .title {
        text-align: center;
    }

    > .image {
        box-shadow: none;
        width: auto;
        max-height: 200px;
    }
}

#infografic-container {
    margin-top: $gap-grid * 1.5;
    margin-bottom: $gap-grid;

    @include desktop {
        grid-column: full-content;

        padding: 0 20%;
    }

    @include mobile {
        display: grid;
        grid-template-columns: inherit;
        grid-column: full-width;
    }
}

#infografic {
    display: flex;
    justify-content: space-between;

    > img {
        box-shadow: none;
        max-width: 25%;
    }
}

#quick-facts {
    > .title {
        text-align: center;
    }

    > ul {
        padding-left: $page-margin-mobile;
        font-size: var(--font-size-md);
        list-style-type: disc;

        > li {
            text-align: left;
        }
    }
}

#mid-cta {
    background-image: url('@public/imgs/lulu_pattern.webp');
    background-position: center center;
    background-color: $color-black;
    padding: $gap-grid * 2 0 $gap-grid;

    @include mobile {
        margin-top: $gap-grid * 1.5;
        background-size: 66%;

        > img {
            margin-top: calc($gap-grid / 2);
        }
    }

    @include desktop {
        margin-top: $gap-grid * 1.5;
        background-size: 25%;
    }

    > .horizontal-divider {
        margin: 10px 0 0;
    }

    > h3 {
        color: $color-yellow-dark;
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
        text-align: center;
    }

    > .cta {
        background-image: none;
        background-color: transparent;
        padding: 0;

        > p {
            margin-bottom: calc($gap-grid);
        }

        > p > span.exclusive-offer {
            color: $color-yellow-dark;
        }

        > form > button[type='submit'] {
            animation:
                pulse-color-yellow 4s ease-in-out infinite,
                click-pattern-yellow 8s ease-in-out infinite;
            box-shadow: 0 8px $color-yellow-darkest;
            background-color: $color-yellow-dark;

            &:active {
                box-shadow: 0 3px $color-yellow-darkest;
            }

            @keyframes pulse-color-yellow {
                0%,
                100% {
                    background-color: $color-yellow-dark;
                }

                50% {
                    background-color: $color-yellow;
                }
            }

            @keyframes click-pattern-yellow {
                0%,
                25% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                26%,
                27% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                28%,
                29% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                30%,
                31% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                32%,
                60% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                61%,
                62% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                63%,
                100% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }
            }
        }
    }
}

#last-cta {
    margin-bottom: 0;
    background-image: url('@public/imgs/lulu_pattern.webp');
    background-position: center center;

    background-color: $color-black;
    padding: $gap-grid * 2 0 $gap-grid;

    @include mobile {
        margin-top: $gap-grid * 1.5;
        background-size: 66%;

        > img {
            margin-top: calc($gap-grid / 2);
        }
    }

    @include desktop {
        margin-top: $gap-grid * 1.5;
        background-size: 25%;
    }

    > .title {
        color: $color-white;
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
        text-align: center;
    }

    > .cta {
        background-image: none;
        background-color: transparent;

        padding: 0;

        > p > span.exclusive-offer {
            color: $color-yellow;
            // font-weight: $font-weight-bold;
        }

        > form > button[type='submit'] {
            animation:
                pulse-color-yellow 4s ease-in-out infinite,
                click-pattern-yellow 8s ease-in-out infinite;
            box-shadow: 0 8px $color-yellow-darkest;
            background-color: $color-yellow;

            &:active {
                box-shadow: 0 3px $color-yellow-darkest;
            }

            @keyframes pulse-color-yellow {
                0%,
                100% {
                    background-color: $color-yellow;
                }

                50% {
                    background-color: $color-yellow-dark;
                }
            }

            @keyframes click-pattern-yellow {
                /* Pausa iniziale: 0-2s */
                0%,
                25% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                /* Primo click: 2-2.1s */
                26%,
                27% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                /* Pausa breve: 2.1-2.3s */
                28%,
                29% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                /* Secondo click: 2.3-2.4s */
                30%,
                31% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                /* Pausa media: 2.4-4.8s */
                32%,
                60% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                /* Singolo click: 4.8-4.9s */
                61%,
                62% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                /* Pausa finale: 4.9-8s */
                63%,
                100% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }
            }
        }
    }
}

.footer-layout {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: calc($gap-grid / 2);
    background-color: transparent;
    padding: $gap-grid * 1.5 0 0;

    color: $color-white;

    @include mobile {
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
    }

    .links-layout {
        display: flex;
        gap: 20px;

        > span.link > a {
            cursor: pointer;
            color: $color-white;
            text-decoration: underline;
        }
    }

    span {
        color: $color-white;
    }
}
