@use '@client/styles/style-costants' as *;
@use './landingpage.display.scss';

* {
    margin: 0;
    border: 0;
    padding: 0;

    color: $color-black;
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    text-box: trim-both cap alphabetic;
}

img {
    // https://www.youtube.com/watch?v=345V2MU3E_w
    // image default
    vertical-align: middle;
    shape-margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

#page-container {
    background-color: $color-white;

    // @include mobile {
    //     max-width: 600px;
    // }
}

#hero {
    background-color: $color-black;
    padding-top: $gap-grid * 1.5;

    * {
        color: $color-white;
    }

    > .title {
        color: $color-white;
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
        text-align: center;
    }

    > .description {
        color: $color-white;
        font-weight: normal;
        font-size: var(--font-size-md);
        text-align: justify;
    }

    > img {
        margin: -5% 0;
        background-image: url(@public/imgs/kickstarter_box_4.2-lowres.webp);
        aspect-ratio: 1 / 1;

        @include mobile {
            margin-top: -8%;
        }
    }

    > .horizontal-divider {
        @include mobile {
            margin-top: $gap-grid;
        }
    }

    > .cta {
        background-image: none;
        background-color: transparent;
        padding: $gap-grid 0 $gap-grid * 1.5;
    }
}

.horizontal-divider {
    > div {
        height: 1px;
    }

    &.on-light {
        background-color: $color-white;

        > div {
            background-color: $color-black;
        }
    }

    &.on-dark {
        background-color: $color-black;

        > div {
            background-color: $color-white;
        }
    }
}

.cta {
    row-gap: calc($gap-grid / 2);
    background-image: url('@public/imgs/lulu_pattern.webp');
    background-position: center center;
    background-color: $color-black;
    padding: $gap-grid * 2 0;

    @include mobile {
        background-size: 50%;
    }

    @include desktop {
        background-size: 15%;
    }

    > h3 {
        color: $color-white;
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
        font-family: $font-family;
    }

    > p {
        color: $color-white;
        font-size: var(--font-size-md);
        text-align: justify;
    }

    form {
        > input {
            border-radius: $border-radius-components;
            background-color: $color-white;
            padding: 0 10px;
            height: 35px;
            color: $color-black;
            font-weight: $font-weight-middle;
            font-size: var(--font-size-xs);
        }

        > .checkbox-container {
            display: flex;
            align-items: center;
            gap: 5px;

            font-weight: $font-weight-light;
            font-size: var(--font-size-xs);

            > input[type='checkbox'] {
                cursor: pointer;
                width: 15px;
                height: 15px;
            }

            > span {
                cursor: pointer;
                color: $color-white;
            }
        }

        > button[type='submit'] {
            align-self: center;
            animation:
                pulse-color 4s ease-in-out infinite,
                click-pattern 8s ease-in-out infinite;
            animation-delay: 0s, 5s;
            transition:
                transform 0.1s ease,
                box-shadow 0.1s ease;
            cursor: pointer;
            margin-bottom: 5px;
            box-shadow: 0 8px $color-green-darkest;
            border-radius: $border-radius-components;
            background-color: $color-green;
            padding: 10px 0;
            width: 100%;
            color: $color-white;
            font-weight: $font-weight-black;
            font-size: var(--font-size-lg);
            font-family: $font-family;

            &:active {
                transform: translateY(5px);
                animation: none;
                animation-play-state: paused;
                transition:
                    transform 0.1s ease,
                    box-shadow 0.1s ease;
                box-shadow: 0 3px $color-green-darkest;
            }

            @keyframes pulse-color {
                0%,
                100% {
                    background-color: $color-green;
                }

                50% {
                    background-color: $color-green-dark;
                }
            }

            @keyframes click-pattern {
                /* Pausa iniziale: 0-2s */
                0%,
                25% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }

                /* Primo click: 2-2.1s */
                26%,
                27% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-green-darkest;
                }

                /* Pausa breve: 2.1-2.3s */
                28%,
                29% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }

                /* Secondo click: 2.3-2.4s */
                30%,
                31% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-green-darkest;
                }

                /* Pausa media: 2.4-4.8s */
                32%,
                60% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }

                /* Singolo click: 4.8-4.9s */
                61%,
                62% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-green-darkest;
                }

                /* Pausa finale: 4.9-8s */
                63%,
                100% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-green-darkest;
                }
            }
        }
    }
}

#dragons-image {
    margin-top: $gap-grid;
    box-shadow: $image-box-shadow;
    border-radius: $border-radius-media;
}

.section {
    row-gap: calc($gap-grid / 1.5);
    padding: $gap-grid 0;

    > .title {
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
    }

    > .description {
        font-size: var(--font-size-md);
        text-align: justify;
    }

    > .image {
        box-shadow: $image-box-shadow;
        border-radius: $border-radius-media;
        max-width: 500px;
    }

    > .quote {
        @include mobile {
            margin-top: $gap-grid * 1.5;
        }
    }
}

p.quote {
    font-style: italic;
    font-size: var(--font-size-md);
    text-align: center;

    @include desktop {
        margin: $gap-grid 0;
    }
}

#how-to-play {
    > .title {
        text-align: center;
    }

    > .image {
        box-shadow: none;
        width: auto;
        max-height: 200px;
    }
}

#quick-facts {
    > .title {
        text-align: center;
    }

    > #infografic {
        display: flex;
        justify-content: space-between;

        > img {
            box-shadow: none;
            max-width: 25%;
        }
    }

    > ul {
        padding-left: $page-margin-mobile;
        font-size: var(--font-size-md);
        list-style-type: disc;
    }
}

#last-cta {
    background-image: url('@public/imgs/lulu_pattern.webp');
    background-position: center center;

    background-color: $color-black;
    padding: $gap-grid 0;

    @include mobile {
        margin-top: $gap-grid;
        background-size: 50%;

        > img {
            margin-top: calc($gap-grid / 2);
        }
    }

    @include desktop {
        background-size: 15%;
    }

    > h3 {
        color: $color-yellow;
        font-weight: $font-weight-black;
        font-size: var(--font-size-xxl);
        text-align: center;
    }

    > .cta {
        background-image: none;
        background-color: transparent;

        padding: $gap-grid 0;

        > p {
            @include mobile {
                margin-bottom: calc($gap-grid / 2);
            }
        }

        > form > button[type='submit'] {
            animation:
                pulse-color-yellow 4s ease-in-out infinite,
                click-pattern-yellow 8s ease-in-out infinite;
            box-shadow: 0 8px $color-yellow-darkest;
            background-color: $color-yellow;

            &:active {
                box-shadow: 0 3px $color-yellow-darkest;
            }

            @keyframes pulse-color-yellow {
                0%,
                100% {
                    background-color: $color-yellow;
                }

                50% {
                    background-color: $color-yellow-dark;
                }
            }

            @keyframes click-pattern-yellow {
                /* Pausa iniziale: 0-2s */
                0%,
                25% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                /* Primo click: 2-2.1s */
                26%,
                27% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                /* Pausa breve: 2.1-2.3s */
                28%,
                29% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                /* Secondo click: 2.3-2.4s */
                30%,
                31% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                /* Pausa media: 2.4-4.8s */
                32%,
                60% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }

                /* Singolo click: 4.8-4.9s */
                61%,
                62% {
                    transform: translateY(2px);
                    box-shadow: 0 6px $color-yellow-darkest;
                }

                /* Pausa finale: 4.9-8s */
                63%,
                100% {
                    transform: translateY(0);
                    box-shadow: 0 8px $color-yellow-darkest;
                }
            }
        }
    }
}

.footer-layout {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: calc($gap-grid / 2);
    padding-top: calc($gap-grid / 2);

    color: $color-white;

    @include mobile {
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
    }

    .links-layout {
        display: flex;
        gap: 20px;

        > span.link > a {
            cursor: pointer;
            color: $color-white;
            text-decoration: underline;
        }
    }

    span {
        color: $color-white;
    }
}
