@forward '@client/styles/media';

@use '@client/styles/media' as *;
@use '@client/styles/asap_font' as *;

:root {
    --delta-font-size: 0px;
    --font-size-xxl: calc(30px + var(--delta-font-size));
    --font-size-xl: calc(28px + var(--delta-font-size));
    --font-size-lg: calc(24px + var(--delta-font-size));
    --font-size-md: calc(20px + var(--delta-font-size));
    --font-size-sm: calc(16px + var(--delta-font-size));
    --font-size-xs: calc(14px + var(--delta-font-size));
    --font-size-xxs: calc(12px + var(--delta-font-size));

    @include desktop {
        --delta-font-size: 4px;
    }

    // Page margin for responsive design

    & {
        --page-margin: 0sww;
    }

    @include desktop {
        --page-margin: 10svw;
    }
    @include mobile {
        --page-margin: 4svw;
    }
}

$font-weight-light: 200;
$font-weight-middle: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$color-black: hsl(0, 0%, 5%);
$color-white: hsl(0, 0%, 95%);
$color-red: hsl(5, 70%, 50%);
$color-red-dark: hsl(5, 70%, 45%);
$color-red-darker: hsl(5, 70%, 40%);
$color-red-darkest: hsl(5, 70%, 35%);
$color-green: hsl(140, 80%, 40%);
$color-green-dark: hsl(140, 80%, 35%);
$color-green-darker: hsl(140, 80%, 30%);
$color-green-darkest: hsl(140, 80%, 25%);
$color-blue-gray: hsl(210, 25%, 55%);
$color-blue-gray-dark: hsl(210, 25%, 45%);
$color-blue-gray-darker: hsl(210, 25%, 40%);
$color-blue-gray-darkest: hsl(210, 25%, 35%);
$color-orange: hsl(20, 80%, 55%);
$color-orange-dark: hsl(20, 80%, 50%);
$color-orange-darker: hsl(20, 80%, 45%);
$color-orange-darkest: hsl(20, 80%, 40%);
$color-yellow: hsl(40, 80%, 55%);
$color-yellow-dark: hsl(40, 80%, 50%);
$color-yellow-darker: hsl(40, 80%, 45%);
$color-yellow-darkest: hsl(40, 80%, 40%);

$border-radius-media: 10px; // For images, videos, cards
$border-radius-components: 5px; // For inputs, buttons, form elements

$content-gap: 40px;
$section-gap: 25px;
$gap-grid: 25px;

$page-margin-mobile: 4svw;
$page-margin-desktop: 10svw;

$cta-gap: 15px;
$cta-button-height: 40px;

$image-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$font-family: 'Asap', 'Asap Fallback', Arial, sans-serif;

// reset styles
* {
    margin: 0;
    border: 0;
    padding: 0;

    color: $color-black;
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    text-box: trim-both cap alphabetic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

img {
    // https://www.youtube.com/watch?v=345V2MU3E_w
    // image default
    vertical-align: middle;
    shape-margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
