@forward '@client/styles/media';
@forward '@client/styles/bebas_neue_pro_font';

@use '@client/styles/media' as *;
@use '@client/styles/bebas_neue_pro_font' as *;

:root {
    --delta-font-size: 0px;
    --font-size-xxl: calc(40px + var(--delta-font-size));
    --font-size-xl: calc(32px + var(--delta-font-size));
    --font-size-lg: calc(24px + var(--delta-font-size));
    --font-size-md: calc(20px + var(--delta-font-size));
    --font-size-sm: calc(16px + var(--delta-font-size));
    --font-size-xs: calc(14px + var(--delta-font-size));
    --font-size-xxs: calc(12px + var(--delta-font-size));

    @include desktop {
        --delta-font-size: 4px;
    }
}

$font-weight-light: 200;
$font-weight-middle: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-black: hsl(0, 0%, 10%);
$color-white: hsl(0, 0%, 95%);
$color-red: hsl(5, 70%, 50%);
$color-red-dark: hsl(5, 70%, 45%);
$color-red-darker: hsl(5, 70%, 40%);
$color-red-darkest: hsl(5, 70%, 35%);
$color-green-dark: hsl(140, 80%, 35%);
$color-green-darker: hsl(140, 80%, 30%);
$color-green-darkest: hsl(140, 80%, 25%);
$color-blue-gray: hsl(210, 25%, 55%);
$color-blue-gray-dark: hsl(210, 25%, 45%);
$color-blue-gray-darker: hsl(210, 25%, 40%);
$color-blue-gray-darkest: hsl(210, 25%, 35%);

$border-radius: 5px;
$section-gap: 25px;
$page-margin-mobile: 4svw;
$page-margin-desktop: 10svw;
$cta-button-height: 40px;

$font-family-bebas-neue-pro: 'Bebas Neue Pro', 'Impact', sans-serif;
$font-family-bebas-neue-pro-semi-expanded: 'Bebas Neue Pro SemiExpanded', 'Impact', sans-serif;
