@use '@client/components/styles_common/styles_common' as *;

#hero {
    width: 100%;

    > .content {
        display: flex;
        flex-direction: column;
        gap: 3svh;

        > .container {
            display: flex;
            flex-direction: column;
            gap: 3svh;

            > .slogan {
                @include font-black;
                @include header-secondary;
                text-align: center;
            }

            > .title {
                @include header-tertiary;
                @include font-bold;
                text-align: justify;
            }

            > .subtitle {
                @include text-large;
                @include font-light;
                text-align: justify;
            }
        }
    }
}

@include desktop {
    .hide-desktop {
        display: none;
    }

    #hero {
        display: flex;
        position: relative;
        align-content: center;

        height: auto;
        min-height: 100svh;
        color: white;

        > #hero-image {
            > img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                width: 100%;
                height: 100%;
                min-height: 100svh;
                object-fit: cover;
                object-position: right;
            }
        }

        .content {
            justify-content: center;

            box-sizing: border-box;

            margin: 3svh 0;
            margin-left: 5svw;

            width: 35%;
            text-align: justify;

            > .container {
                > #hero-infografic {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                }
            }
        }
    }
}

@include mobile {
    #hero {
        > #hero-image {
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr;
            grid-template-areas:
                'game-by'
                'cta'
                'container';
            margin-top: 25px;

            > .container {
                grid-area: container;
                @include margin-mobile;
            }

            > .cta {
                grid-area: cta;
            }

            > .game-by {
                grid-area: game-by;
                @include text-large;
                line-height: 1;
                text-align: center;

                .author-name {
                    font-family: 'Leckerli One';
                }
            }
        }
    }
}
