@use '../../../../custom_tailwind/custom_tailwind' as *;

$desktop-pixel: 1400px !default;
$mobile-pixel: 1400px !default;

#footer {
    background-color: black;
    padding: 4svw;
    color: white;

    .container {
        display: flex;

        > .title {
            @include font-bold;
        }

        > .links {
            display: flex;
            justify-content: space-between;
            align-items: bottom;

            > a {
                text-decoration: none;

                > img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    > hr {
        border: 0.1px solid white;
    }
}

@include desktop {
    #footer {
        height: 100px;

        > .container {
            align-items: bottom;

            > .title {
                @include text-5xl;
            }

            > .links {
                gap: 1svw;
                margin-left: 2svw;
            }
        }
    }
}

@include mobile {
    #footer {
        margin-top: -50px;
        height: 150px;

        > .container {
            flex-direction: column;
            align-items: center;
            gap: 1svh;

            > .title {
                @include text-4xl;
            }

            > .links {
                gap: 2svw;
                margin-bottom: 4svw;
            }
        }
    }
}
