@media screen and (max-width: 1300px) {
    :root {
        font-size: 10px;
    }

    body {
        /* padding: 0 7svw; */

        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    #hero-image-portrait {
        /* margin: 0 -7svw; */
        width: 100%;
    }

    #hero {
        text-align: justify;
    }

    #hero .text {
        margin: 0 7svw;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #hero #infografic {
        display: none;
    }

    .feature {
        margin: 0 7svw;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #feature-elements > img {
        width: 200px;
    }

    #feature-challenge {
        margin: 0 7svw;

        text-align: center;
    }

    #feature-challenge .container2 {
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #feature-challenge .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #feature-challenge img {
        height: 125px;
    }

    .cta {
        background-color: #da2d2a;
        box-sizing: border-box;
        padding: 10px 20px;
        gap: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
    }

    .cta > .text {
        text-align: center;
        font-size: 1.25rem;
    }

    .cta > input {
        width: 100%;
        height: 40px;
        border-radius: 10px;

        box-sizing: border-box;
        padding-left: 25px;
    }

    .cta > button {
        width: 100%;
        height: 40px;
        border-radius: 10px;

        background-color: black;
        color: white;
    }
}
