@import url('./custom_tailwind/custom_tailwind.css');
@import url('./desktop/desktop.css') only screen and (min-width: 1550px);
@import url('./mobile/mobile.css') only screen and (max-width: 1550px);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 0;
    padding: 0;
    margin: 0;
}

:root {
    font-family: lexend;
    font-weight: 200;
}
