@font-face {
    font-style: normal;
    font-weight: 100 900;
    src: url('@client/fonts/LeckerliOne-Regular.woff2') format('woff2-variations');
    font-family: 'Leckerli One';
    font-display: swap;
}
