@font-face {
    font-style: normal;
    font-weight: 100 900;
    src: url('@client_fonts/Lexend-VariableFont_wght.woff2') format('woff2-variations');
    font-family: 'Lexend';
    font-display: swap;
}
