@use '@client/components/styles_common/styles_common' as *;

.feature-x1 {
    display: flex;
    flex-direction: column;
    gap: 25px;

    > .title {
        @include header-secondary;
        @include font-black;

        text-align: center;
    }

    > img {
        height: 350px;
        object-fit: contain;
    }

    > .description {
        @include text-large;

        text-align: justify;
    }
}

@include desktop {
    .feature-x1 {
        justify-content: center;
        width: 80%;
    }
}

@include mobile {
    .feature-x1 {
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;

        > .title {
            margin: 0 2svw;
        }

        > .description {
            @include margin-mobile;
        }
    }
}
