@use '@client/styles/style-costants' as *;

$font-size-xxs: 12px;

$font-checkout:
    $font-family,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

* {
    margin: 0;
    border: 0;
    padding: 0;

    font-family: $font-checkout;
}

*:not(input):not(textarea):not(select) {
    text-box: trim-both cap alphabetic;
}

#page_title {
    font-weight: $font-weight-extra-bold;
    font-size: var(--font-size-xxl);
}

#page_description {
    margin-top: 15px;
    font-size: var(--font-size-md);
    line-height: 1.2;
    text-align: justify;
}

.item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        'name price'
        'description price';
    gap: 10px;
    border: 2px solid $color-blue-gray;
    border-radius: 12px;
    padding: 20px;

    .item_name {
        grid-area: name;
        font-weight: $font-weight-extra-bold;
        font-size: var(--font-size-md);
    }

    .item_description {
        grid-area: description;
        font-size: var(--font-size-sm);
    }

    .item_price {
        grid-area: price;
        place-self: center center;
        font-weight: $font-weight-bold;
        font-size: var(--font-size-lg);
    }
}

#disclaimer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    #disclaimer_title {
        font-weight: 500;
        font-size: var(--font-size-xs);
    }

    #disclaimer_text {
        font-size: $font-size-xxs;
        line-height: 1;
        text-align: justify;
    }
}

#payment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    #email_address_input {
        display: block;
        box-sizing: border-box;
        border-radius: 12px;
        background-color: #f1f1f1;
        padding: 16px;
        width: 100%;
        height: 50px;
        color: #8a8a8a;
        font-weight: 400;
        font-size: 16px;
    }

    .section_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h4 {
        font-weight: $font-weight-bold;
        font-size: var(--font-size-lg);
    }

    h5 {
        color: #8a8a8a;
        font-size: $font-size-xxs;
    }

    button#submit {
        cursor: pointer;
        box-sizing: border-box;
        border-radius: $border-radius-components;
        background-color: $color-black;
        width: 100%;
        height: 50px;
        color: $color-white;

        > #button-text {
            font-weight: $font-weight-bold;
            font-size: var(--font-size-sm);
            text-transform: uppercase;
        }
    }
}

@include mobile {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    #page-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'main'
            'items'
            'form'
            'disclaimer';
        gap: $section-gap;
        margin: 50px $page-margin-mobile;
        max-width: 600px;

        #main {
            grid-area: main;
        }

        #page_description {
            grid-area: description;
        }

        #items {
            grid-area: items;
        }

        #payment-form {
            grid-area: form;
        }

        #disclaimer {
            grid-area: disclaimer;
        }
    }
}

@include desktop {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 $page-margin-desktop;
        overflow-x: hidden;
    }

    #page-container {
        display: grid;
        grid-template-columns: 1fr 5svw 1fr;
        gap: $section-gap;
        margin-top: 50px;
        margin-bottom: 10px;

        // Posizionamento esplicito per ogni elemento
        #main {
            grid-row: 1;
            grid-column: 1;
            max-width: 500px;
        }

        #items {
            grid-row: 2;
            grid-column: 1;
            max-width: 500px;
        }

        #disclaimer {
            grid-row: 3;
            grid-column: 1;
            max-width: 500px;
        }

        #payment-form {
            grid-row: 1 / span 4; // Dalla riga 1 alla riga 3 (span di 3 righe)
            grid-column: 3;
            max-width: 500px;
        }
    }
}

.footer-layout {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $color-black;
    padding: 20px 0;

    color: $color-white;

    @include mobile {
        flex-direction: column;
        margin-right: -$page-margin-mobile;
        margin-left: -$page-margin-mobile;
        width: calc(100% + #{$page-margin-mobile * 2});
    }

    @include desktop {
        flex-direction: row;
        align-self: center;
        margin-right: -$page-margin-desktop;
        margin-left: -$page-margin-desktop;
        width: 100svw;
    }

    .links-layout {
        display: flex;
        gap: 20px;

        > span.link > a {
            cursor: pointer;
            color: $color-white;
            text-decoration: underline;
        }
    }

    span {
        color: $color-white;
    }
}
