.feature-x2 > .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feature-x2 > .container > .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.feature-x2 > .container > .item > .text {
    text-align: center;
}

.feature-x2 > .container > .item > img {
    height: 200px;
    object-fit: contain;
}
